.footer-container {

    display: flex;
    justify-content: space-between;

    background-color: $dark-grey-color;
    padding: $spacing-sm;

    @include respond(phone) { 
        flex-direction: column-reverse;
    }
}

.footer-main {
    display: flex;

    @include respond(phone) { 
        padding-top: 1rem;
        justify-content: space-between;
    }

}

.footer-sub {
    @include respond(phone) {
        border-bottom: 0.5px solid $mid-grey-color;
        padding: 2rem 0;
    }
}