.get-in-touch-container {
    background-color: $dark-grey-color;

    padding: $spacing-xxl 0;
}

.get-in-touch-contacts-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    width: 70%;
    margin: 0 auto;

    @include respond(phone) {
        width: 90%;
    }
}

// Contacts
.get-in-touch-contacts {

    display: flex;
    flex-direction: column;

    &-main {
        display: flex;
        align-items: center;
    }

    &-image {
        width: 6rem;
        height: 6rem;
        
        object-fit: cover;
        object-position: top;
        background-repeat:no-repeat;
        border-radius: $border-radius-half;

        @include respond(phone) {
            width: 4rem;
            height: 3rem;
            margin-right: 0.5rem;
        }
    }

    &-para {
        font-size: $font-size-6xl;
        color: $white-color;

        @include respond(tab-land) {
            font-size: $font-size-5xl;
        }

        @include respond(tab-port) {
            font-size: $font-size-4xl;
        }

        @include respond(phone) {
            width: 100%;
            font-size: $font-size-3xl;
        }

        @include respond(small-phone) {
            width: 100%;
            font-size: $font-size-2xl;
        }
    }

    &-arrow-icon-container {
        svg {
            color: $white-color;
            width: $svg-width;
            height: $svg-height;

            @include respond(phone) {
                width: calc($svg-width / 2);
                height: calc($svg-height / 2);
            }
        }
    }
}

// Hr
.get-in-touch-hr {

    width: 70%;
    margin: 0 auto;

    &-top {
        border-bottom: 1px solid $mid-grey-color;
        padding: $spacing-xl 0;
    }

    &-bottom {
        padding: $spacing-xl 0;
    }

    @include respond(phone) {
        width: 90%;
    }
}

// Buttons
.get-in-touch-buttons {
    display: flex;
    width: 70%;
    margin: 0 auto;

    &--inner-container {
        display: flex;

        @include respond(tab-port) {
            flex-direction: column;
        }
    }

    @include respond(phone) {
        width: 70%;
        margin: 0;
    }
}