.work-container {
  background-color: $white-color;
  padding: 3rem 0 5rem;

  .work-heading {
    width: 70%;
    margin: 0 auto;

    font-size: $font-size-6xl;
    font-weight: normal;
    color: $dark-grey-color;
    padding-bottom: 2rem;

    // Tablet
    @include respond(tab-port) {
      font-size: $font-size-5xl;
    }

    // Phone
    @include respond(phone) {
      font-size: $font-size-4xl;
    }
  }
}
