/**
 * Fonts
 * 
 * Naming Typography CSS Variable https://foxland.fi/naming-typography-css-variables/
 */

 /* Font families */
$font-family-sans: 'Montserrat';

/* Font sizes */
$font-size-xs: 0.688rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.125rem;
$font-size-xl: 1.25rem;
$font-size-2xl: 1.5rem;
$font-size-3xl: 2rem;
$font-size-4xl: 2.75rem;
$font-size-5xl: 5rem;
$font-size-6xl: 7.375rem;


/* Line heights */
$line-height-sm: 1.25;
$line-height-md: 1.5;

/* Latter spacing */
$letter-spacing-sm: 0.05em;
$letter-spacing-md: 0.1em;